.baner{
  top: 50PX;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, hsla(180, 62%, 50%, 0.55) 0%, hsla(267, 85%, 21%, 0.54) 100%),url(../img/img.jpg);
  background-image: no-repeat;
background-image: fixed;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment: fixed;
/*  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;

}

/*.baner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  top:0px;
  z-index: 1000;
}*/

.baner h3{
  font-size: 40px;
}

.baner h3,p,a{

  color: #fff;
  text-align: center;
}

.baner p{
  margin-bottom: 10px;
  font-size: 20px;
}
.baner a{
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  background: rgb(209, 89, 126);
  padding: 8px;
  border-radius: 5px;
  border: .2px solid hsla(0, 0%, 100%, 0.39);
  transition: 3s;
  margin-bottom: 250px;
}

.baner a:hover{
  background: hsla(340, 51%, 61%, 0.65);
  transition: all .5s;
}


/*Baner 2*/

.baner2{
  height: 190px;
  background-image: linear-gradient(120deg,hsla(199, 82%, 75%, 0.8) 0%, hsla(142, 92%, 74%, 0.6) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.baner2 p{
  margin-bottom: 10px;
}
.baner2 a{
  display: block;
background: hsla(0, 0%, 100%, 0.67);
color:inherit;
padding: 6px;
width: 100px;
margin:0 auto;
margin-bottom: 40px;
text-decoration: none;
border: 1px solid rgba(91, 91, 91, 0.2);
border-radius: 3px;
}

.baner2 a:hover{
  background: rgba(250, 204, 54, 0.47);
  color:#fff;
  transition: .2s;
  border: 1px solid rgba(250, 248, 247, 0.37);
}
