.expertos-cont{
  width: 100%;
}

.expertos-cont h1{
  margin: 20px auto;
  text-align: center;
  font-family: 'Pacifico',sans-serif;
  font-weight: 100;
  color: rgba(224, 94, 94, 0.73);
}
.expertos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.experto-info{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-bottom: 20px;
}
.experto-info a{
  text-decoration: none;
  color: rgba(58, 95, 209, 0.94);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.experto-info a:hover{
  color: rgba(224, 94, 94, 0.73);
}

.experto-info img{
  max-width: 100%;
  height: 190px;
}
