footer{
  /*background-image: linear-gradient(to top, #09203f 0%, #537895 100%);*/
  color: rgba(255, 255, 255, 0.66);
  background:rgba(34, 34, 34, 0.98);
  width: 100%;
  margin: auto;
}

.footer-cont{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.logo-footer{
  margin: 10px 10px;
}

hr{
  border-color: rgba(223, 226, 236, 0.3);
}

.logo-f{
  text-decoration: none;
  color: red;
  font-size: 1.8em;
  cursor: pointer;
  opacity: .8;
}

.logo-f:hover{
  opacity: 1;
}
.social-footer{
  margin: 10px 10px;
  font-size: 1.4em;
}

.social-footer i{
  cursor: pointer;

}

.social-footer i:hover{
  color: #fff;

}

.copi{
  font-size: 1em;
  margin-top: 5px;
  text-align: center;
  bottom: 0;
}
