header{
  width: 100%;
  height: 50px;
  background: rgba(37, 37, 37,.9);
  box-shadow: 1px 1px 5px rgba(77, 78, 79, 0.8);
  z-index: 3000;
  position: fixed;
}

nav{
  position:relative;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header .logo{
  color: rgba(255, 13, 13, 0.9);
  padding: 0;
  margin: 5px 15px;
  font-size: 1.5em;
  font-family:'Montserrat',sans-serif;
  font-weight:;
}

.menu{
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 51px;
  text-align: center;
  background: rgba(37, 37, 37,.9);
  transform:translateX(-100%);
  transition: all .9s;
  z-index: 3000;
}

.menu ul{
  list-style: none;
}

.menu a{
  display: block;
  color: red;
  text-decoration: none;
  padding: 8px;
  border: .1px solid #fff;
}

.menu a:hover{
  background: rgba(139, 209, 108, 0.4);
}

.mostrar{
  transform: translateX(0);
}

.boton-menu{
  color: #fff;
  margin-right: 15px;
  font-size: 1.5em;
}

.boton-menu i{
  cursor: pointer;
}
